---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import FormattedTags from "../components/FormattedTags.astro";

const posts = (await getCollection("works")).sort(
    (b, a) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);

posts.map((post) => {
    console.log(post.data.tags);
});
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main class="max-w-[54rem] mx-auto min-h-screen">
            <section class="mx-3">
                <h1 class="text-4xl font-bold mb-4 mt-16">Hi</h1>
                <p>
                    I'm a software engineer and I build products with human-centric design. I write about
                    software engineering, productivity, and personal growth. I'm currently building out my
                    portfolio while looking for full-time employment. If you're interested in working
                    together, feel free to reach out.
                </p>
            </section>
        </main>
        <Footer />
    </body>
</html>
