---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <div class="h-16"></div>
        <main class="max-w-[54rem] mx-auto min-h-screen">
            <div class="h-8"></div>

            <h2 class="text-center">🚨UNDER CONSTRUCTION🚨</h2>
            <h1>Welcome to my Site</h1>

            <p>
                Welcome to my little piece of the internet. Here is where I write a bit more about me and what
                I do, and link to other areas of the site.
            </p>
        </main>
        <Footer />
    </body>
</html>
