---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="fixed top-0 w-full backdrop-blur-sm z-10 py-2">
    <nav class="max-w-[76rem] mx-auto flex justify-between">
        <span class="pl-4 text-content-base"><a href="/">Lewis Steentjes</a></span>
        <span class="pr-4 text-content-muted">
            <a href="/#posts"> Works</a> |
            <a href="/about">About</a> |
            <a href="/files/Lewis's CV.pdf" download>CV</a>
        </span>
    </nav>
</header>
