---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="fixed top-0 w-full backdrop-blur-sm z-10 py-2">
    <nav class="max-w-[76rem] mx-auto flex justify-between">
        <span class="pl-4"><a href="/" class="text-content-base hover:text-accent">Lewis Steentjes</a></span>
        <span class="pr-4 text-content-muted">
            <a href="/#posts" class="text-content-muted hover:text-accent pr-2"> Works</a>
            <a href="/about" class="text-content-muted hover:text-accent pr-2">About</a>
            <a href="/files/Lewis's CV.pdf" class="text-content-muted hover:text-accent pr-2" download>CV</a>
        </span>
    </nav>
</header>
